/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204)
}
h1,h2{
	text-align:center;
}
li{
	list-style-type:none;
}
li a{
	text-decoration-line:none;
}
ul{
	background-color: rgb(255, 255, 255);
	border-style:solid;
	  padding: 20px;
    border-radius: 10px;
	
}
.player_one,
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
/* 	width:50% */
	
}
#video{
	text-align:center;
	width:100%;
/* 	border-style:solid; */
}
#audio{
	text-align:center;
	width:100%;
}
#line{
	border-style:solid;
	  border-radius: 10px;
}